[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~= 2.27"
flit = "~=3.7"
mkdocs = "~=1.3"

[dev-packages]
mkdocs-material = "*"
mkdocs-awesome-pages-plugin = "*"
pytest = "~=7.2.0"
pytest-cov = "*"
flake8 = "*"
pre-commit = "*"
importlib-metadata = {version = "*", markers = "python_version < '3.10'"}
zipp = {version = "*", markers = "python_version < '3.10'"}

[requires]
python_version = "3.10"
