[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">= 2.27"
flit = "~=3.7"

[dev-packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-awesome-pages-plugin = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
